﻿body {
	height: 100%;
  padding: 0px;
  margin: 0px;
  font: normal 14px arial, tahoma, verdana;
  line-height: 20px;
  color: #000000;
  cursor: default;
  background: #ffffff;
}
@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster.eot');
  src: url('../fonts/lobster.eot?#iefix') format('embedded-opentype');
	src: local('lobster'),
       url('../fonts/lobster.ttf') format('truetype'),
       url('../fonts/lobster.svg#Lobster') format('svg');
}

/*DEFAULT*/
html {height: 100% !important;}
img {border: 0px;}
p {margin: 15px 0px;}
.left {float: left !important;}
.right {float: right !important;}
.both {clear: both;}
.tleft {text-align: left !important;}
.tright {text-align: right !important;}
.tcenter {text-align: center !important;}
.justify {text-align: justify;}
.bold {font-weight: bold;}
.small {font-size: 10px !important;}
.normal {font-size: 11px !important;}
.medium {font-size: 14px !important;}
.midi {font-size: 18px !important;}
.big {font-size: 22px !important;}
.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}
.lthrou {text-decoration: line-through;}
.relative {position: relative !important;}
.absolute {position: absolute !important;}
.hidden {overflow: hidden;}
.visible {overflow: visible !important;}
.dblock {display: block;}
.dnone {display: none;}
.dinline {display: inline;}
.dtable {display: table;}
.nopad {padding: 0px !important;}
.nomarg {margin: 0px !important;}
.nobg {background: none !important;}
.nobord {border: 0px !important;}
.btn {cursor: pointer;}
.z100 {z-index: 100;}

.tcell {
  display: table-cell;
  vertical-align: middle;
}
form,
fieldset,
textarea {
  padding: 0px;
  margin: 0px;
  position: relative;
  border: 0px;
}
form,
fieldset {
  cursor: default;
}
form input[type="submit"],
form input[type="button"] {
  text-decoration: none;
  cursor: pointer;
}
form input[type="submit"]:hover {
  text-decoration: underline !important;
}
ul {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}
ul li {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
/*end DEFAULT*/

/*links, colors, bg*/
a:link,
a:visited {
	outline: none;
	text-decoration: underline;
  color: #000000;
  cursor: pointer;
}
.green,
a.green:link,
a.green:visited {
  color: #459300;
}
.red,
a.red:link,
a.red:visited {
  color: #e41a2c;
}
.black,
a.black:link,
a.black:visited {
  color: #000000;
}
h1,
h1 a:link,
h1 a:visited {
  margin: 0px 0px 15px 0px;
  font: normal 38px lobster, arial, tahoma;
  text-decoration: none;
	color: #000000;
}
h2,
h2 a:link,
h2 a:visited {
  margin: 0px 0px 15px 0px;
  font: normal 18px lobster, arial, tahoma;
  text-decoration: none;
	color: #000000;
}
h3,
h3 a:link,
h3 a:visited {
  margin: 0px 0px 10px 0px;
  font: normal 16px lobster, arial, tahoma;
  text-decoration: none;
	color: #000000;
}
h4,
h4 a:link,
h4 a:visited {
  margin: 0px 0px 5px 0px;
  font: normal 13px arial, tahoma, verdana;
  text-decoration: none;
	color: #000000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: underline;
}
a:hover {text-decoration: none;}
/*end links, colors, bg*/

/*WRAPPER*/
#wrapper {
  min-width: 980px;
	min-height: 100% !important;
	margin: 0px auto;
  overflow: hidden;
  background: #ffffff;
}

/*HEADER*/
#header {
  width: 970px;
  padding: 20px 0px 20px 0px;
	margin: 0px auto 0px auto;
  position: relative;
  z-index: 50;
}

/*contacts*/
#header .contacts {
  width: 200px;
  margin: 0px 0px 0px 20px;
  float: right;
  line-height: normal;
  text-align: right;
}
#header .contacts a:link,
#header .contacts a:visited {
  color: #459300;
}
/*end contacts*/

/*bar*/
ul.bar {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 85px;
  left: 330px;
}
ul.bar li {
  padding: 0px 15px 0px 20px;
  margin: 0px;
  float: left;
  position: relative;
  list-style: none;
  font: normal 18px lobster, arial, tahoma;
  background: url(../images/sep_bar.png) no-repeat;
}
ul.bar li:first-child {
  background: none;
}
ul.bar li a:link,
ul.bar li a:visited {
  text-decoration: none;
}
ul.bar li.active a:link,
ul.bar li.active a:visited,
ul.bar li a:hover {
  color: #e41a2c;
}
/*end block_bar*/

/*block_mainimg*/
.block_mainimg {
  width: 960px;
  height: 412px;
  margin: 0px auto;
  position: relative;
  clear: both;
}
.block_mainimg .sticker {
  width: 360px;
  height: 151px;
  position: absolute;
  top: 210px;
  left: -10px;
  background: url(../images/sticker.png) no-repeat;
}
.block_mainimg .sticker div {
  padding: 8px 0px;
  margin: 0px 15px;
  font-size: 14px;
  color: #ffffff;
}
.block_mainimg .sticker p {
  margin: 0px;
}
.sticker_midi,
a.sticker_midi:link,
a.sticker_midi:visited {
  width: 100px;
  height: 101px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 10px;
  text-decoration: none;
  background: url(../images/sticker_midi.png) no-repeat;
  z-index: 5;
}
.sticker_midi span {
  width: 86px;
  height: 75px;
  margin: 5px auto 0px auto;
  display: block;
  font: normal 17px lobster, arial, tahoma;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
a.sticker_midi:hover span {
  color: #459300;
}
/*end block_mainimg*/

/*userbar*/
.userbar {
  position: absolute;
  top: 125px;
  left: 350px;
  color: #459300;
}
.userbar a:link,
.userbar a:visited,
.userbar span {
  color: #459300;
  background: url(../images/arrow_userbar.png) right 4px no-repeat !important;
}
.userbar span {
  margin: 0px 5px;
}
/*end userbar*/
/*end HEADER*/

/*CONTAINER*/
#container {
  min-width: 980px;
  min-height: 400px;
  padding: 0px 0px 100px 0px !important;
  margin: 0px auto;
  overflow: hidden;
}

/*block_black*/
.block_black {
  padding: 30px 0px;
  overflow: hidden;
  background: #393939 url(../images/block_black_top.jpg) top center repeat-x;
}
.block_black .body {
  width: 970px;
  margin: 0px auto;
  overflow: hidden;
}
.block_title {
  margin-bottom: 20px;
  background: url(../images/sep_white.png) left top no-repeat;
}
.block_title.end {
  padding: 0px 30px;
  background: url(../images/sep_white.png) right top no-repeat;
}
.sep_big {
  width: 21px;
  height: 158px;
  overflow: hidden;
  background: url(../images/sep_big.png) no-repeat;
}

/*block_news*/
.block_news {
  clear: both;
  overflow: hidden;
  font-size: 12px;
}
.block_show {
  width: 268px;
  padding: 0px 20px;
  margin: 0px 0px 0px 12px;
  float: left;
  overflow: hidden;
  color: #ffffff;
}
.block_show .post {
  margin-top: 20px;
  overflow: hidden;
}
.block_show .post:first-child,
.block_show:first-child {
  padding-left: 0px;
  margin: 0px;
}
.block_show .title {
  height: 38px;
  margin-top: 10px;
  overflow: hidden;
  color: #459300;
}
.block_show .title a:link,
.block_show .title a:visited {
  color: #459300;
}
.block_show .txt {
  margin: 5px 0px;
}
.block_show .txt p {
  margin: 0px;
}
/*end block_news*/
/*end block_black*/

/*block_green*/
.block_green {
  overflow: hidden;
  background: #536920 url(../images/block_green_top.gif) top center repeat-x;
}
.block_green.index {
  background: #536920 url(../images/block_green_top.jpg) top center repeat-x;
}
.block_green .body {
  width: 970px;
  padding: 30px 0px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.block_green h1,
.block_green h1 a:link,
.block_green h1 a:visited,
.block_green h2,
.block_green h2 a:link,
.block_green h2 a:visited,
.block_black h1,
.block_black h1 a:link,
.block_black h1 a:visited,
.block_black h2,
.block_black h2 a:link,
.block_black h2 a:visited {
  color: #ffffff;
}
.block_green.nobg h1,
.block_green.nobg h1 a:link,
.block_green.nobg h1 a:visited,
.block_green.nobg h2,
.block_green.nobg h2 a:link,
.block_green.nobg h2 a:visited,
.block_black.nobg h1,
.block_black.nobg h1 a:link,
.block_black.nobg h1 a:visited,
.block_black.nobg h2,
.block_black.nobg h2 a:link,
.block_black.nobg h2 a:visited {
  color: #000000;
}
.block_green .txt {
  width: 800px;
  margin-top: 30px;
  overflow: hidden;
  color: #ffffff;
}
.block_green.nobg .txt {
  color: #000000;
}
.block_green .txt p {
  margin: 0px;
}

/*jCarouselLite, nojCarouselLite*/
#jCarouselLite,
.nojCarouselLite {
  clear: both;
  position: relative;
}
#jCarouselLite .carousel {
  width: 870px !important;
  height: 144px;
  margin: 0px 0px 0px 50px;
  overflow: hidden;
}
.nojCarouselLite .nocarousel {
  width: 910px !important;
  margin: 0px;
}
#jCarouselLite .prev {
  width: 59px;
  height: 144px;
  position: absolute;
  top: 0px;
  right: 5px;
  text-decoration: none !important;
  background: url(../images/next.png) left center no-repeat;
  z-index: 3;
}
#jCarouselLite .next {
  width: 59px;
  height: 144px;
  position: absolute;
  top: 0px;
  left: 5px;
  text-decoration: none !important;
  background: url(../images/prev.png) left center no-repeat;
  z-index: 3;
}
#jCarouselLite ul,
.nojCarouselLite ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#jCarouselLite ul li,
.nojCarouselLite ul li {
  width: 144px;
  height: 144px;
  padding: 0px;
  margin: 0px 37.3px 0px 0px;
  overflow: hidden;
  list-style: none;
  float: left;
  background: url(../images/li_bg.png) no-repeat;
}
#jCarouselLite ul li .imgblock,
.nojCarouselLite ul li .imgblock {
  width: 144px;
  height: 144px;
  overflow: hidden;
}
#jCarouselLite ul li .imgblock img,
.nojCarouselLite ul li .imgblock img {
  width: 122px;
  max-height: 124px;
  margin: 11px 0px 0px 11px;
}
/*end jCarouselLite, nojCarouselLite*/

.map {
  width: 302px;
  height: 301px;
  margin: 0px 50px 0px 0px;
  position: absolute;
  top: 30px;
  left: 0px;
  background: url(../images/map.png) no-repeat;
}
.map img {
  width: 262px;
  height: 264px;
  margin: 17px 0px 0px 18px;
}
.block_green_down {
  height: 12px;
  background: url(../images/block_green_down.jpg) top center repeat-x;
}
.block_gray_down {
  height: 25px;
  background: url(../images/block_gray_down.png) top center repeat-x;
}
/*end block_green*/

/*registration*/
form.registration {
  width: 970px;
  padding: 0px;
  margin: 30px auto;
  overflow: hidden;
}
form.registration fieldset {
  width: 350px;
  margin: 0px 0px 0px 350px;
}
form.registration div {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
form.registration h2 {
  margin-bottom: 20px;
}
form.registration label {
  width: 100px;
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
  font-weight: bold;
}
form.registration input {
  width: 350px;
  padding: 8px 0px 8px 8px;
  margin: 0px;
  font: normal 12px arial, tahoma, verdana;
  color: #989898;
  background: #ffffff;
  border: 5px solid #5f5e1d;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
form.registration textarea {
  width: 350px;
  min-height: 150px;
  max-height: 300px;
  padding: 8px 0px 0px 8px;
  margin: 0px;
  resize: vertical;
  font: normal 12px arial, tahoma, verdana;
  color: #989898;
  background: #ffffff;
  border: 5px solid #5f5e1d;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
form.registration input[type="submit"] {
  width: 117px;
  height: 32px;
  padding: 0px;
  margin: 0px;
  font: normal 12px arial, tahoma, verdana;
  color: #989898;
  background: url(../images/btn_send.png) no-repeat !important;
  border: 0px;
}
/*end registration*/

/*artnews*/
.artnews {
  overflow: hidden;
  background: url(../images/dot_vert.gif) repeat-y;
}
.artnews .post {
  max-width: 85%;
  overflow: hidden;
}
.artnews .post .imgpre {
  width: 144px;
  height: 144px;
  margin-right: 10px;
  float: left;
  background: url(../images/li_bg.png) repeat-y;
}
.artnews .post .imgpre img {
  width: 122px;
  max-height: 124px;
  margin: 11px 0px 0px 11px;
}
.artnews .title {
  overflow: hidden;
  margin: 5px 0px 10px 0px;
}
.artnews .title,
.artnews .title a:link,
.artnews .title a:visited {
  font: normal 18px lobster, arial, tahoma, verdana;
  color: #459300;
}
.artnews.faq .title,
.artnews.faq .answ,
.artnews.faq .title a:link,
.artnews.faq .title a:visited {
  font: normal 18px lobster, arial, tahoma, verdana;
  color: #000000;
}
.artnews .txt {
  padding: 0px 0px 0px 2px;
  margin: 0px 0px 10px 0px;
}
.artnews .txt.opis {
  height: 65px;
  overflow: hidden;
}
.artnews .txt p,
.artnews .txt.opis p {
  margin: 0px;
}
/*end artnews*/

/*sideleft*/
.sideleft {
  width: 340px;
  margin-right: 10px;
  float: left;
}
/*end sideleft*/

/*sideright*/
.sideright {
  width: 228px;
  margin-left: 20px;
  float: right;
}
/*end sideright*/

/*sidecenter*/
.sidecenter {
  display: block;
  overflow: hidden;
}
/*end sidecenter*/

/*pages*/
.pages {
  overflow: hidden;
  padding: 5px 0px;
  margin: 0px 0px 30px 0px;
}
.pages span {
  margin: 0px 10px;
}
.pages a:link,
.pages a:visited {
  padding: 5px 10px;
  text-decoration: none;
  color: #459300;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.pages a.active:link,
.pages a.active:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: default;
  background: #586e22;
}
.pages a:hover {
  color: #e41a2c;
}
/*end pages*/
/*end CONTAINER*/
/*end WRAPPER*/

/*FOOTER*/
#footer {
  width: 970px;
	height: 60px;
	margin: -60px auto 0px auto;
  font-size: 12px;
}
.copy {
  margin-right: 30px;
  float: left;
}
.copyright {
  width: 250px;
  margin-left: 30px;
  float: right;
  color: #459300;
}
#footer a:link,
#footer a:visited {
  color: #459300;
}
/*end FOOTER*/